.img{
    filter: drop-shadow(-13px 9px 15px #000);
}    

.texto{
    font-family: 'iceland', Arial;
   display: flex;
      flex-direction: column;
   margin-top: 20vh;
   height: 47vh;
   width: 53vw;
   padding: 25px;
   align-items: center;
   text-shadow: 5px 5px 6px rgb(0 0 0 / 60%);
}
.texto .titulo{
   margin-bottom: 14px;
   font-size: 45px;
}
.texto .txt{
   font-size: 25px;
}


.nome{
    background-color: #FF00A8;
    display: flex;
    background: linear-gradient(121deg, rgb(183, 0, 255) 20%, rgb(220, 230, 84) 50%, rgb(30, 223, 88) 100% );
  justify-content: center;  
}  
.nome:hover{
    transition: 3s;
    background: linear-gradient(121deg, rgb(70, 151, 218) 20%, rgb(93, 180, 35) 50%, rgb(191, 30, 223) 100% );
}
.nome img{
    /* height: 100%; */
    width: 100%;
}    
.nome .img{
    height: 60%;
    width: 40%;
}    


.mapa{
    height: 92vh;
   display: flex; 
   align-items: center;
   background-color:#FF00A8;
}   
.mapa img{
    height: 82vh;
    width: 30vw;
}    
 .mapa .img{
    filter: drop-shadow(-13px 9px 15px #000); 
    margin: 36px 70px;
}    
.mapa .texto.mp{
    background-color: rgba(0, 0, 255, 0.418);
    filter: drop-shadow(-13px 9px 15px #000);
    color: #ffff;
    margin: 2%;
}    
.mapa .img:hover
{       transition: 0.5s;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

.remix{
    align-items: center;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    background: #68e030;
    /* background: linear-gradient(121deg, rgba(84,163,230,1) 20%, rgb(138, 230, 84) 50%, rgb(230, 84, 223) 100% ); */
}
.remix img{
    margin: 100px;
    height: 61vh;
    width: 30vw;
}
.remix .texto{
display: flex;
color: white;
flex-direction: column;
background: aqua;
background: linear-gradient(121deg, rgba(102,163,30,1) 20%, rgb(138, 20, 84) 50%, rgb(230, 14, 22) 100% ); 
    width: 39vw;
    height: 35vh;
    margin: 7%;
}


.artpop{
    background: #bce5cf;
    height: 94vh;
    background: linear-gradient(121deg, rgb(0, 68, 255) 20%, rgb(73, 175, 15) 50%, rgb(231, 22, 221)100% );
    display: flex;
    align-items: center;
}
.artpop img{
    margin: 100px;
    /* height: 63vh; */
    width: 32vw;
}
.artpop .texto.art{
    margin: 10% 10%;
    background-color: #00fbff5c;
    /* margin-right: 6%; */
    filter: drop-shadow(-13px 9px 15px #000);
}


.saude{
    display: flex;
    height: 65vh;
    background-color: #000;
}
.saude img.um{
    height: 65vh;
    /* width: 29vw; */
}
.saude img.dois{
    height: 65vh;
    /* width: 29vw; */
}

.saude img.um:hover
{
    transition: 0.5s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
.saude img.dois:hover
{
    transition: 0.5s;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
.saude .texto{
color: white;
}

.saude .texto{
    margin: 35px 0;
}

.png{
    display: flex;
    height: 65vh;
    background-color: rgb(171, 245, 101);
    background: linear-gradient(121deg, rgb(129, 38, 165) 20%, rgb(96, 230, 84) 50%, rgb(30, 114, 223) 100% );
    align-items: center;
}

.png img{
    width: 28vw;
    margin-left: 15px;
}

.png .img{
margin: auto;
}

.final{
    display: flex;
    background-color: #FFC940;
    height: 65vh;
    align-items: center;
    justify-content: space-evenly;
}

.final img{
    height: 50vh;
}

.final .ptdois{
    display: flex;
    flex-direction: column;
}

.final .tchau{
    font-family: 'iceland', Arial;
    font-size: 30px;
}

.final img:hover
{
    transition: 0.5s;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}