@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

main{
    background-image: url(../assets/lg4.jpg);
    width: 100VW;
    height: 100VH;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.corpo{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45%;
    margin-left: 50px;
    }

    .login p{
        color: white;
        font-size: 25px;
        font-family: 'iceland', Arial, Helvetica, sans-serif;
        padding-bottom: 20px;
    }

.container{
    margin-right: 20px;
    width: 75%;
    padding-bottom: 3%;
    align-items: flex-start;
}

.container input{
    padding: 10px;
    border: 2px solid;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.corpo label{
    color: white;
    font-size: 25px;
    font-family: 'iceland', Arial, Helvetica, sans-serif;
    display: flex;
}

.corpo label p{
    color: #FFC940;
}

.container.a label{
    background-color: rgb(0, 0, 0);
}
  
.corpo .conta{
    display: flex;
    justify-content: center;
     align-items: center;
     font-family: 'iceland', Arial, Helvetica, sans-serif;
     font-size: 25px;
     color: rgb(255, 255, 255);
}

.conta a{
    text-decoration: none;
color: white;
padding-left: 3px;
}

.botao {
    display: inline-block;
    padding: 5px;
    border: 2px solid #000000;
    width: 156px;
    background-color: rgb(255, 255, 255);
}

.botao a{
    font-family: 'iceland', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-shadow: #000000;
    color: #000000;
    font-size: 30px;
    text-align: center;
}