main{
    height: 100vh;
    background-image: url(../assets/chromatica.jpg);
    display: flex;
    background-size: cover;
    justify-content: center;
    width:100%;
}
 
.questao p{
    font-family: 'iceland', Arial;
    font-size: 30px; 
    color: white;
    margin: 6px;
}

.corpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 93vh;
}


.perguntas{
    box-shadow: 10px 11px 43px -1px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 10px 11px 43px -1px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 11px 43px -1px rgba(0, 0, 0, 0.73);
    width: 85vh;
    padding: 5vh;
        display: flex;
    flex-direction: column;
}

.perguntas label{
    font-family: 'iceland', Arial;
    font-size: 30px;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center
}

.perguntas span{
    font-family: 'iceland', Arial;
    font-size: 25px;
}

.perguntas.k{
    background-color: #FF00A8
}
.perguntas.e{
    background-color: #1D4908;
}
.perguntas.j{
    background-color: #d5d9dd;
}
.perguntas.c{
    background-color: #FFC940;
}
.perguntas.f{
    background-color: #4B58CA;
}
.perguntas.g{
    background-color: #DB4444;
}

.span input{
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.3);
}

  button {
    margin: 17px 1px;
    cursor: pointer;
    background-color: black;
    font-size: 10px;
    width: 33%;
    font-family: 'iceland', Arial;
    color: white;
    font-size: 25px;
  }
 
.respostas{
    box-shadow: 10px 11px 43px -1px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: 10px 11px 43px -1px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 10px 11px 43px -1px rgba(0, 0, 0, 0.73);
    width: 85vh;
    padding: 5vh;
        display: flex;
}

.personalidade{
  padding-left: 25px;
}

.personalidade{
    display: flex;
    font-family: 'iceland', Arial;
    flex-direction: column;
}

.personalidade p{
    font-size: 20px;
}

.personalidade b{
    font-size: x-large;
}

.personalidade span{
    font-size: 20px;
    margin-top: 10px;
}

.respostas.k{
    background-color: #FF00A8
}
.respostas.e{
    background-color: #1D4908;
}
.respostas.j{
    background-color: #d5d9dd;
}
.respostas.c{
    background-color: #FFC940;
}
.respostas.f{
    background-color: #4B58CA;
}
.respostas.g{
    background-color: #DB4444;
}